.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo img{
    width: 100px;
}

.nav-links ul{
  display: flex;
  list-style-type: none;
  font-size: 24px;
  /* font-weight: 100; */
}
.nav-links li{
    margin: 10px;   
}
.restro-container{
    display: flex;
    flex-wrap: wrap;
    
}
.restro-card{
    width: 200px;
    height: 350px; 
    padding: 5px;
    margin: 5px;
}
.restro-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.search{
    padding: 10px 0px;
}
.restro-logo{
    width: 190px;
    height: 120px;
    padding: 5px;
}